<div class="nav container" style="margin-top: 24px">
  <h1>Welcome to the Task Manager</h1>
</div>
<div class="container" style="padding: 24px">
<ul class="list-inline">
  <li><a href="/tasks" class="btn btn-info"><span class="glyphicon glyphicon-list" style="font-size: 20px"></span> Task Index</a></li>
  <li><a href="/tasks/new" class="btn btn-info"><span class="glyphicon glyphicon-pencil" style="font-size: 20px"></span> New Task</a></li>
</ul>
</div>
