<form action="/tasks" method="post" class="container" style="padding-top: 12px">
  <h3>Enter a new task:</h3>
  <input type='text' name='task[title]'/><br/><br/>
  <textarea name='task[description]'></textarea><br/><br/>
  <input type='submit' class="btn btn-info"/>
</form>
